*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	block-size: 100%;
}

.page {
	inline-size: 1200px;
	block-size: 100%;
	margin: auto;
	color: #fff;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 18px;
	background-color: #1b1919;

	display: flex;
	align-items: center;
	justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
	width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #d9d9d9;
}

/* CONTENT */
.content {
	width: 1140px;

	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: space-between;
	gap: 30px;
}

.result__video-container {
	position: relative;

	width: 711px;
	height: 386px;
	margin-bottom: 16px;
}

.result__video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.search-form {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: space-between;
}

.search-form__fieldset {
	border: none;
}

.search-form__fieldset-title {
	font-family: 'Fira Sans Condensed', sans-serif;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	margin-bottom: 5px;
}

.search-form__checkbox-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 15px;
}

.search-form__label {
	width: fit-content;

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	cursor: pointer;
}

.search-form__textfield {
	border: none;
	border-top: 1px solid currentColor;
	border-bottom: 1px solid currentColor;
	background-color: transparent;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	appearance: none;
	width: 225px;
	padding: 2px 0;
}

.search-form__textfield:focus {
	outline: none;
}

.search-form__textfield::placeholder {
	color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
	width: 19px;
	height: 19px;
	padding: 1px;

	border: 1px solid currentColor;
}

.search-form__pseudo-checkbox::after {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	background-color: currentColor;
	opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
	opacity: 1;
}

.search-form__label:hover .search-form__label-text {
	text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
	outline: 1px solid currentColor;
	outline-offset: 2px;
}

.content__list-container {
	position: relative;
	height: 298px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.content__details {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 26px;
}

.title {
	font-family: 'Oswald', sans-serif;
	color: #fff;
	font-size: 75px;
	font-weight: 700;
	line-height: 94%;
	text-transform: uppercase;
}

.title .content__accent {
	color: #545050;
}

.content__list {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.content__list-item {
	padding-left: 3px;
	padding-right: 3px;
}

.content__card-link {
	color: #fff;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

.content__card-link:hover {
	text-decoration: underline;
}

.content__card-link_current {
	background-color: #545050;
}

.content__card-link:active {
	background-color: #545050;
}

.content__card-link:focus {
	outline: none;
}

.content__card-link:focus-visible {
	outline: 1px solid currentColor;
	outline-offset: 2px;
}

.content__video-card {
	display: flex;
	flex-direction: row;
	align-items: start;
}

.content__video-card-description-container {
	flex-grow: 1;
}

.content__video-card-title {
	max-width: 196px;
	margin-bottom: 6px;

	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 100%;
	text-transform: uppercase;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.content__video-card-description {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 16.2px;

	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	line-clamp: 4;
	overflow: hidden;
}

.content__video-card-thumbnail {
	min-width: 194px;
	height: 103px;

	object-fit: cover;
	object-position: center;
}

.visually-hidden {
	position: absolute;
	inline-size: 1px;
	block-size: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	white-space: nowrap;
}

/* BUTTONS */
.button {
	padding-top: 6px;
	padding-bottom: 6px;

	border: 1px solid currentColor;
	background-color: transparent;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: 700;
	cursor: pointer;
}

.button:hover {
	text-decoration: underline;
}

.button:active {
	background-color: #545050;
}

.button:focus {
	outline: none;
}

.button:focus-visible {
	outline: 1px solid currentColor;
	outline-offset: 2px;
}

.search-form__submit-button {
	padding-left: 73.5px;
	padding-right: 73.5px;
	align-self: end;
}

.more-button {
	width: 100%;
}
